.nav {
    background-color: $bg-white;
    width: 306px;
    height: 1198px;
    display: flex;
    flex-direction: column;
    padding-left: 28px;
    padding-right: 28px;
    padding-top: 36px;

    &__brand {
        display: flex;
        align-items: center;
        gap: 8px;
        margin-bottom: 52px;
    }

    &__brand-name {
        color: #000;
        font-family: Poppins;
        font-size: 26px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        letter-spacing: 0.26px;
    }

    &__brand-subname {
        color: #838383;
        font-family: Poppins;
        font-size: 10px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        letter-spacing: -0.1px;
    }

    &__menu {
        margin-bottom: 571px;
    }

    &__menu-item-info {
        display: flex;
        align-items: center;
    }

    &__menu-item {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-left: 11px;
        padding-right: 9px;
        margin-bottom: 18px;
        cursor: pointer;
        width: 250px;
        height: 46px;
        border-radius: 8px;

        &:hover {
            background: $bg-active;

            span {
                color: white;
            }
        }
    }

    &__menu-item-name {
        padding-left: 14px;
        color: #9197b3;
        font-family: Poppins;
        font-size: 14px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        letter-spacing: -0.14px;
    }

    &__user {
        display: flex;
        gap: 12px;
        cursor: pointer;
    }

    &__user-img {
        height: 42px;
        width: 42px;
    }

    &__user-name {
        color: #000;
        font-family: Poppins;
        font-size: 14px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        letter-spacing: 0.14px;
    }

    &__user-role {
        color: #757575;
        font-family: Poppins;
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        letter-spacing: 0.12px;
    }
}
