main {
    flex: 1;
}
.table {
    background-color: $bg-white;
    width: 968px;
    height: 812px;
    filter: drop-shadow(0px 10px 60px rgba(226, 236, 249, 0.5));
    border-radius: 24px;
    padding-top: 30px;
    padding-left: 38px;
    padding-bottom: 41px;

    &__title {
        margin-top: 41px;
        margin-bottom: 51px;
    }

    &__header {
        margin-bottom: 40px;
        display: flex;
        justify-content: space-between;
    }

    &__header-heading h2 {
        color: #000;
        font-family: Poppins;
        font-size: 22px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        letter-spacing: -0.22px;
    }

    &__header-heading p {
        color: #16c098;
        font-family: Poppins;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        letter-spacing: -0.14px;
    }

    &__header-search-bar {
        width: 216px;
        height: 38px;
        border-radius: 10px;
        background: #f9fbff;
        margin-right: 53px;
        display: flex;
        justify-items: center;
        gap: 8px;
    }

    &__header-search-bar button,
    input {
        border: none;
        outline: none;
        border-radius: 10px;
        background: #f9fbff;
        cursor: pointer;
    }

    &__header-search-bar ::placeholder,
    input {
        color: #b5b7c0;
        font-family: Poppins;
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        letter-spacing: -0.12px;
    }

    .list-item {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 2fr 1fr 1fr;
    }

    .list-item span {
        color: #292d32;
        font-family: Poppins;
        font-size: 14px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        letter-spacing: -0.14px;
        padding-top: 24px;
        padding-bottom: 24px;
    }

    &__list-heading {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 2fr 1fr 1fr;
        color: #b5b7c0;
        font-family: Poppins;
        font-size: 14px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        letter-spacing: -0.14px;
        padding-bottom: 14px;
    }

    &__line {
        width: 888px;
        height: 1px;
        background: #eee;
    }
}
