/* COLORS */
$bg-active: #5932ea;
$bg-white: #fff;
$bg-grey: #fafbff;

$btn-bg-active: rgba(22, 192, 152, 0.38);
$btn-border-active: #00b087;

$btn-bg-inactive: #ffc5c5;
$btn-border-inactive: #df0404;

/* FONTS */

/* SPACES */
