
nav.nav__menu 
                    ul 
                        li
                            a(href="").nav__menu-item
                                .nav__menu-item-info
                                    img.nav__menu-item-icon(src="/assets/key-square.svg", alt="")
                                    span.nav__menu-item-name Dashboard 
                                img.nav__menu-item-chevron(src="/assets/chevron-right.svg", alt="")             
                        li
                            a(href="").nav__menu-item
                                .nav__menu-item-info
                                    img.nav__menu-item-icon(src="/assets/3d-square.svg", alt="")
                                    span.nav__menu-item-name Product 
                                img.nav__menu-item-chevron(src="/assets/chevron-right.svg", alt="")             
                        li
                            a(href="").nav__menu-item
                                .nav__menu-item-info
                                    img.nav__menu-item-icon(src="/assets/user-square.svg", alt="")
                                    span.nav__menu-item-name Customers 
                                img.nav__menu-item-chevron(src="/assets/chevron-right.svg", alt="")             
                        li
                            a(href="").nav__menu-item
                                .nav__menu-item-info
                                    img.nav__menu-item-icon(src="/assets/wallet-money.svg", alt="")
                                    span.nav__menu-item-name Income 
                                img.nav__menu-item-chevron(src="/assets/chevron-right.svg", alt="")             
                        li
                            a(href="").nav__menu-item
                                .nav__menu-item-info
                                    img.nav__menu-item-icon(src="/assets/discount-shape.svg", alt="")
                                    span.nav__menu-item-name Promote 
                                img.nav__menu-item-chevron(src="/assets/chevron-right.svg", alt="")             
                        li
                            a(href="").nav__menu-item
                                .nav__menu-item-info
                                    img.nav__menu-item-icon(src="/assets/message-question.svg", alt="")
                                    span.nav__menu-item-name Help 
                                img.nav__menu-item-chevron(src="/assets/chevron-right.svg", alt="")