.nav
                .nav__brand 
                    img.nav__brand-logo(src="/assets/logo.svg")
                    .nav__brand-title
                        span.nav__brand-name Dashboard                   
                        span.nav__brand-subname v.01

                include nav-menu.pug         
                    
                .nav__user
                    img.nav__user-img(src="/assets/user-img.png", alt="") 
                    .nav__user-info
                        .nav__user-name Evano
                        .nav__user-role Project Manager       