main
    h1.table__title Hello Evano
    .table
        .table__header
            .table__header-heading
                h2 All Customers
                p Active Members 
            .table__header-search
        .table__list
        block content 
            include list-item.pug
        .table__footer
